<mat-sidenav-container [style.minHeight]="'100dvh'">
  <mat-sidenav #sideNav mode="push">
    <app-navigation></app-navigation>
  </mat-sidenav>
  <mat-sidenav-content [style.minHeight]="'100dvh'">
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sideNav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>{{pageTitle()}}</span>
    </mat-toolbar>
    <main class="p-4">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
