<section class="text-center">
  <h1 class="my-8">Angular custom directives</h1>
  <p>
    This project contains implementations of custom directives mention in
    <a
      href="https://blog.stackademic.com/mastering-angular-custom-directives-a-comprehensive-guide-with-15-real-world-examples-2023-a1d4645c4a0f"
      target="_blank"
      rel=" noreferrer noopener"
      >Mastering Angular Custom Directives</a
    >
    article.
  </p>
  <div class="my-8 text-center">
    <mat-divider></mat-divider>
  </div>
  <div class="my-8 text-center">
    <p>
      You can see my work on <a href="https://github.com/TomikxDDD">Github</a>.
    </p>
  </div>
</section>
